@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-size: 140%;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 20px;
}

/* Canvas styling */
#drawingCanvas {
    border: 2px solid black;
    background-color: white;
    display: block;
    margin: 10px auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

h1 {
    font-size: 50px;
}


.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 130%;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}