<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Regonition Demo Group 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <h1>Character Recognition Neural Network Demo</h1>
        <a href="{{ url_for('character_recognition') }}" class="button">Character Recognition</a>
        <a href="https://github.com/Yug3737/Character-Recognition" target="_blank">Github Repo Here</a>
    </div>
</body>

</html>