<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Regonition Demo Group 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Group 3 Character Recognition</title>
</head>

<body>
    <div class="container">
        <h1>Neural Network Demos</h1>
        <a href="{{ url_for('digit_recognition') }}" class="button">Digit Recognition</a>
        <a href="{{ url_for('letter_recognition') }}" class="button">Lower Case Letter Recognition</a>
        <a href="https://github.com/Yug3737/Character-Recognition" target="_blank">Github Repo Here</a>
    </div>
</body>

</html>